/*顶部导航*/

header {
  height: 4.166667rem;
}

header .top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.166667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
}

header h1 {
  width: 70%;
  font-weight: normal;
  text-align: center;
  font-size: 1.333333rem;
}

header a {
  width: 15%;
  color: #1c1c1c;
  font-size: 1.666667rem;
}

header .top>a:first-child {
  text-align: left;
}

header .top>a:last-child {
  text-align: right;
}

.mainPadding,
.paddingt5 {
  padding-top: 4.166667rem;
}

.border10 {
  height: .833333rem;
  border: 1px solid #ebecee;
  background-color: #f7f7f9;
}

.icon-arrow-right {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.color999 {
  color: #999;
}