/* 引导页 */

body.guide {
  background-color: #f9ecd1;
  background-image: url('../image/bg_guide.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.but_public {
  position: absolute;
  z-index: 2;
  bottom: 4rem;
  left: 25%;
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1.5rem;
  background: #ffbf35;
  box-shadow: 0 0 1rem rgba(255, 183, 32, .6);
  font-size: 1.333333rem;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  letter-spacing: .2rem
}

#popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99990;
  background: rgba(0, 0, 0, .5);
}

#popBox {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99991;
  background: #fff;
  width: 76%;
  height: 30rem;
  margin: -15rem 0 0 -38%;
  color: #333;
  text-align: center;
}

#popBox .close {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.2rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: lighter;
  position: absolute;
  z-index: 99993;
  right: -1.2rem;
  top: -6rem;
  background: #fff;
  color: #e8a80e;
}

#popBox .top {
  width: 100%;
  height: 9.583333rem;
  background: #efdebb;
  position: relative;
}

#popBox .top img {
  width: 114%;
  position: absolute;
  z-index: 99992;
  top: -5rem;
  left: -5.5%;
}

#popBox h1 {
  display: block;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #e8a80e;
}

#popBox p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 86%;
  margin: 0 auto;
  font-size: 1.166667rem;
  font-weight: lighter;
  text-indent: 2rem;
  text-align: left;
}

#popBox .but_public {
  width: 64%;
  left: 18%;
  bottom: 1.5rem;
}


/* 答题页 */


/* 进度条的样式 */

.process-group {
  font-size: 0;
  margin-top: .416667rem;
}

.process-group>li {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: .416667rem .583333rem;
  box-sizing: border-box;
}

.process-group .pro-num {
  position: absolute;
  display: inline-block;
  width: 1.083333rem;
  height: 1.083333rem;
  line-height: 1.083333rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #ddd;
  font-size: .833333rem;
  color: #fff;
  text-align: center;
  z-index: 3;
}

.process-group .process {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: .583333rem;
  right: .583333rem;
  margin-top: -.25rem;
  height: .5rem;
  background-color: #ddd;
  border-radius: .416667rem;
  z-index: 1;
}


/* 测试题提示语的样式 */

.tip-box {
  padding: .5rem 1rem;
  box-sizing: border-box;
}

.tips {
  padding: .5rem 1rem;
  box-sizing: border-box;
  font-size: 1.166667rem;
  color: #eba611;
  line-height: 1.5;
  background: #fff;
  border: 1px dashed #eba611;
  border-radius: .5rem;
}

.tips .number {
  color: #eba611;
}

.tips .color-gray {
  color: #eba611;
}

.done .pro-num {
  background: #ffbf35;
}

.done .process {
  background: #ffbf35;
}


/* 测试题的样式 */

#question-box ul {
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.ques-title {
  font-weight: normal;
  font-size: 1.166667rem;
  font-weight: normal;
  color: #333;
  line-height: 3rem;
}

.ques-list {
  font-size: 0;
  padding: 0 1rem;
}

.ques-list .answer-list>li {
  display: inline-table;
  width: 16%;
  height: 2rem;
  line-height: 2rem;
  margin: 0 2% 1rem 2%;
  font-size: 1.166667rem;
  text-align: center;
  color: #666;
  line-height: 1.5;
  list-style-type: upper-latin;
  list-style-position: inside;
}

.question-box>li+li {
  border-top: 1px solid #eee;
}

.ques-list .answer-list .select-btn {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  border-radius: .2rem;
  font-weight: lighter;
  background: #f3f3f3;
  color: #666;
}

.ques-list .answer-list .selected-btn {
  background: #ffcc5d;
  color: #fff;
}

.submit-wrap {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.submit-wrap input {
  background: #ffbf35;
  width: 100%;
  height: 3.5rem;
  border: none;
  color: #fff;
  font-size: 1.333333rem;
  font-weight: lighter;
  text-align: center;
}

.submit-wrap input:disabled {
  background: #ccc;
}


/*A.B两个词语选项类的测评样式*/

.ques-no {
  padding: 0 1.666667rem;
  box-sizing: border-box;
  border-radius: .5rem;
  background-color: #f4f4f4;
  font-size: 0;
  margin: .25rem 0;
}

.ques-no>span {
  display: inline-block;
  font-size: 1.5rem;
  width: 50%;
  height: 2.333333rem;
  padding: 0 .833333rem;
  line-height: 2.333333rem;
  box-sizing: border-box;
  color: #333;
}

.paddinglr7 {
  padding: 0 .583333rem;
}

#question-box .z-liststyle-box {
  padding-top: 0;
}

.z-liststyle {
  font-size: 0;
  display: inline-block;
  width: 25rem;
}

.ques-list .z-liststyle>li {
  list-style: none;
  display: inline-block;
  width: 50%;
  font-size: 1.166667rem;
  box-sizing: border-box;
  padding: 0;
}

.question-box .z-liststyle-list {
  border: none;
  padding: .5rem 0;
}

.ques-list .z-liststyle .select-btn {
  position: inherit;
  vertical-align: middle;
  top: 0;
}

.ques-num {
  display: inline-block;
  font-size: 1rem;
  color: #1e1e1e;
  width: 1.666667rem;
}


/* 结果页 */

.chart {
  width: 100%;
  height: 35rem;
  background: #fef6e5;
  position: relative;
}

.examples {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
}

.examples li {
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
  color: #333;
}

.examples li s {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: .5rem;
}

.examples li.status_1 s,
.textnav .status_1,
.caption .status_1 {
  background: #d0f3cc;
}

.examples li.status_2 s,
.textnav .status_2,
.caption .status_2 {
  background: #dff599;
}

.examples li.status_3 s,
.textnav .status_3,
.caption .status_3 {
  background: #f7e0af;
}

.examples li.status_4 s,
.textnav .status_4,
.caption .status_4 {
  background: #f0b289;
}

.textnav {
  width: 100%;
  height: 31.5rem;
  background-image: url('../image/bg_result.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
  position: relative;
}

.textnav div {
  width: 5.4rem;
  height: 5.8rem;
  line-height: 1.2rem;
  padding: 0 .2rem;
  margin: -1rem 0 0 -2.9rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: lighter;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.textnav div.p1 {
  left: 50%;
  top: 5%;
}

.textnav div.p2 {
  left: 72%;
  top: 13%;
}

.textnav div.p3 {
  left: 86%;
  top: 31%;
}

.textnav div.p4 {
  left: 86%;
  top: 54%;
}

.textnav div.p5 {
  left: 72%;
  top: 72%;
}

.textnav div.p6 {
  left: 50%;
  top: 80%;
}

.textnav div.p7 {
  left: 28%;
  top: 72%;
}

.textnav div.p8 {
  left: 14%;
  top: 54%;
}

.textnav div.p9 {
  left: 14%;
  top: 31%;
}

.textnav div.p10 {
  left: 28%;
  top: 13%;
}

.arrow {
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #fff;
  border-left: 1rem solid transparent;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  margin-left: -1rem;
}

.caption {
  width: 100%;
  height: 2.25rem;
  margin: 1rem auto;
  text-align: center;
}

.caption span {
  display: block;
  width: 30%;
  line-height: 2.25rem;
  margin: 0 auto;
  border-radius: .2rem;
  font-size: 1.166667rem;
  color: #333;
}

.charttxt {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 1.15rem;
  font-weight: lighter;
  text-indent: 2.3rem;
  color: #333;
}

.chartbut {
  position: static;
  display: block;
  margin: 1.5rem auto;
}