<!DOCTYPE html>
<html>

<head>
  <title>症状自评测试</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <link rel="stylesheet" href="../assets/css/public.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/font/style.css">
  <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
  <!--顶部-->
  <header>
    <div class="top">
      <a id="back" href="javascript:;" onclick="app.goback();" class="back">
        <i class="icon-back"></i>
      </a>
      <h1>答题</h1>
    </div>
  </header>
  <!-- 测试题 提示  -->
  <section>
    <ul class="process-group">
      <li class="done current">
        <span class="pro-num">一</span>
        <span class="process"></span>
      </li>
      <li>
        <span class="pro-num">二</span>
        <span class="process"></span>
      </li>
      <li>
        <span class="pro-num">三</span>
        <span class="process"></span>
      </li>
      <li>
        <span class="pro-num">四</span>
        <span class="process"></span>
      </li>
    </ul>
  </section>
  <!--评课题-->
  <section class="question">
    <div id="question-box"></div>
  </section>
  <!-- 提交按钮-->
  <div class="submit-wrap">
    <input id="next" type="button" value="下一步" disabled>
  </div>
</body>
<!--课程的模板-->
<script id="questionTmpl" type="text/x-dot-template">
  <div class="tip-box">
    <div class='tips'>
      <span>{{=it.tip}}</span>
      <span class="color-gray">（</span>
      <span id='question-num' class="number">{{=it.num}}</span>
      <span class="color-gray">题</span>
      <span class="color-gray">）</span>
    </div>
  </div>
  <ul class='question-box'>
    {{~it.questions:value:index}}
    <li class="ques-list">
      <h2 class="ques-title">{{=index+1}}、{{=value.title}}</h2>
      <ol class="answer-list">
        {{~value.answer:answer:answerIndex}}
        <li>
          <span class="select-btn">
            {{=answer.content}}
          </span>
        </li>
        {{~}}
      </ol>
    </li>
    {{~}}
  </ul>
</script>
<script src="../assets/js/jquery.min.js"></script>
<script src="http://apps.chaoxing.com/res/js/CXJSBridge.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/autoSize.js"></script>
<script src="../assets/js/doT.js"></script>
<script src="../assets/js/answer.js"></script>
<script>
  function ready() {
    questions();
    selectQuestion();
    nextPage();
  }
  // 数据加载
  function questions() {
    var innerText = doT.template($("#questionTmpl").html());
    $("#question-box").html(innerText(questionsData[0]));
  }
  // 单选题点击事件
  function selectQuestion() {
    $(document).on('touchstart', ".answer-list>li", function () {
      var selectBtn = $(this).find(".select-btn");
      var selectNum;
      var questionNum = parseInt($("#question-num").text());
      if (!selectBtn.hasClass('.selected-btn')) {
        selectBtn.addClass('selected-btn');
        $(this).siblings().find('.select-btn').removeClass('selected-btn');
      }
      selectNum = $(".selected-btn").length;
      if (selectNum == questionNum) {
        $("#next").removeAttr("disabled");
      }
    })
  }
  // 下一步的操作
  function nextPage() {
    $("#next").on("click", function () {
      // 判断当前是第几页的题
      var pageIndex = $(".process-group .current").index();
      if (pageIndex < 3) {
        $(window).scrollTop(0);
        var innerText = doT.template($("#questionTmpl").html());
        $("#question-box").html(innerText(questionsData[pageIndex + 1]));
        $("#next").attr("disabled", "disabled");
        $(".process-group .current").removeClass("current").next().addClass("done current");
        if (pageIndex == 2) {
          $("#next").val("提交");
        }
      }
    })
  }
</script>

</html>